body, html {
  font-family: 'Lato', sans-serif;
}

.App {
  background-color: #E5E5E5;
}

.different-text{
  color: #85BBB1;
  font-style: italic;
}

/* FIRST SCREEN */

.first-screen-image{
  width: 100vw;
  height: auto;
  left: 0px;
  top: 0px;
}

.gradient-for-first-screen{
  position: absolute;
  width: 100%;
  height: 825.75px;
  left: 0px;
  top: 550.12px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 46.73%, #FFFFFF 63.21%);
}