body, html {
  font-family: 'Lato', sans-serif;
}

.App {
  background-color: #E5E5E5;
}

.header {
  position: absolute;
  width: 100vw;
  height: 80px;
  left: 0px;
  top: 30px;

  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
  /* Note: backdrop-filter has minimal browser support */
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
}

.first-screen-image{
  width: 100vw;
  height: auto;
  left: 0px;
  top: 0px;
}

.gradient-for-first-screen{
  position: absolute;
  width: 100%;
  height: 825.75px;
  left: 0px;
  top: 550.12px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 46.73%, #FFFFFF 63.21%);
}

.first-screen-content{
  position: absolute;
  width: 523px;
  height: 302px;
  left: 135px;
  top: 260px;
}

.text-one{
  width: 523px;
  height: 156px;
  left: 135px;
  top: 260px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  /* or 118% */


  /* Primary / Dark blue */

  color: #262A3F;
}

.text-two{
  width: 439px;
  height: 52px;
  left: 135px;
  top: 436px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;
}

.join-button{
  left: 0%;
  right: 5.74%;
  top: 0%;
  bottom: 16.67%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  background: none;

  /* text/red */

  color: #F1897B;
}

.button-bg{
  position: absolute;
  left: 3%;
  right: 0%;
  top: 93%;
  height: 12px;
  width: 112px;
  bottom: 0%;

  /* Secondary / Coral */

  background: #F1897B;
  opacity: 0.3;
}

.section-info{
  position: absolute;
  width: 1170px;
  height: 670px;
  left: 135px;
  top: 712px;
}

.statistic-background{
  padding-top: 45px;
  position: absolute;
  width: 770px;
  height: 580px;
  left: 535px;
  top: 757px;

  background: #FFFFFF;
  opacity: 0.9;
  display: flex;
}

.info-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;

  width: 370px;
  height: 490px;
  left: 535px;
  top: 802px;
}

.list-item{
  justify-content: flex-end;
  padding: 0px;
  gap: 12px;

  width: 370px;
  height: 110px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.divider{
  width: 100px;
  height: 0px;

  /* Secondary / Spring */

  border: 1px solid #85BBB1;
}

.main-text{
  width: auto;
  height: 72px;

  text-align: center;
  margin: auto;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  /* identical to box height, or 106% */

  /* Primary / Dark blue */

  color: #262A3F;
}

.secondary-text{
  width: auto;
  height: 26px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  text-align: center;

  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;

}

.info-text{
  width: 400px;
  height: 389px;
  left: 905px;
  top: 802px;
}

.inner-text{
  width: 400px;
  height: 315px;
  left: 905px;
  top: 802px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;
}

.contact-button{
  margin-top: 50px;
  left: 0%;
  right: 3.85%;
  top: 0%;
  bottom: 16.67%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  background: none;

  /* Secondary / Coral */

  color: #F1897B;
}

.contact-button-bg{
  position: absolute;
  left: 50.5%;
  right: 0%;
  top: 68%;
  height: 13px;
  width: 172px;
  bottom: 0%;

  /* Secondary / Coral */

  background: #F1897B;
  opacity: 0.3;
}

.benefits{
  position: absolute;
  width: 1170px;
  height: 620px;
  left: 135px;
  top: 1502px;
}

.benefits-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5%;
}

.item-benefits-1{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px 30px;
  gap: 30px;
  
  width: 570px;
  height: 250px;
}

.item-benefits-2{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px 30px;
  gap: 30px;
  
  width: 570px;
  height: 250px;
}

.divider-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.divider-benefits-1{

  width: 570px;
  height: 0px;
  
  border: 1px solid #E4E4E4;
}

.divider-benefits-2{
  width: 570px;
  height: 0px;
  
  border: 1px solid #E4E4E4;
}

.divider-benefits-3{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  
  /* Primary / Grey */
  
  border: 1px solid #E4E4E4;
}

.divider-benefits-4{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.benefits-main-text{
  width: 500px;
  height: 96px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */


  /* Primary / Dark blue */

  color: #262A3F;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.benefits-desc{
  width: 500px;
  height: 52px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.section-quote{
  position: absolute;
  width: 1170px;
  height: 400px;
  left: 135px;
  top: 2242px;
  background-image: url(./images/quote-background.svg);
}

.quote-text{
  width: 770px;
  height: 230px;
  margin-top: 10%;
  margin-left: 10%;
}

.quote-text-inner{
  align-items: center;
  margin-left: 15%;
  width: 710px;
  height: 200px;
  left: 295px;
  top: 2342px;
}

.quote-mark{
  position: absolute;
  width: 100px;
  height: 81px;
}

.quote-main-text{
  width: 710px;
  height: 140px;
  left: 295px;
  top: 2342px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  /* or 144% */

  letter-spacing: 0.04em;

  /* Primary / White */

  color: #FFFFFF;
}

.quote-desc{
  width: 497.2px;
  height: 20px;
  left: 295px;
  top: 2522px;

  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.08em;

  /* Primary / White */

  color: #FFFFFF;
}

.video-section{
  position: absolute;
  width: 970px;
  height: 777px;
  left: 235px;
  top: 2762px;
}

.screensaver-for-video{
  width: 970px;
  height: 601px;
  left: 235px;
  top: 2762px;
}

.tablet{
  width: 970px;
  height: 601px;
  left: 235px;
  top: 2762px;
}

.rect{
  position: relative;
  box-sizing: border-box;

  width: 970px;
  height: 601px;

  /* Primary / Grey */

  border: 1px solid #E4E4E4;
  border-radius: 32px;
}

.eclipse-1{
  position: absolute;
  box-sizing: border-box;
  right: 2%;
  top: 50%;
  margin-top: -18px;
  

  width: 35px;
  height: 35px;

  /* Primary / Grey */

  border: 1px solid #E4E4E4;
  border-radius: 32px;
}

.eclipse-2{
  position: absolute;
  box-sizing: border-box;

  width: 13px;
  height: 13px;

  top: 50%;
  margin-top: -7px;
  left: 1%;

  /* Primary / Grey */

  border: 1px solid #E4E4E4;
  border-radius: 32px;
}

.screensaver-video{
  position: absolute;
  width: 870px;
  height: 539px;
  left: 270px;
  top: 2793px;

  border-radius: 8px;
  z-index: 9999;
}

.video-main-text{
  width: 897px;
  height: 54px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */


  /* Primary / Dark blue */

  color: #262A3F;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.video-decs{
  width: 897px;
  height: 52px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.promices-section{
  position: absolute;
  width: 1169px;
  height: 540px;
  left: 135px;
  top: 3659px;
}

.features-background-image{
  width: 600px;
  height: 540px;
  left: 135px;
  top: 3659px;

  background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)), url(./images/features-background-image.svg);
}


.features-background{
  position: absolute;
  width: 770px;
  height: 450px;
  left: 534px;
  top: 50%;
  margin-top: -225px;

  background: #FFFFFF;
  opacity: 0.9;
}

.promises-list{
  width: 700px;
  height: 300px;
  vertical-align: middle;
  top: 50%;
  position: absolute;
  margin-top: -150px;
}

.promices-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}

.item-promices-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 300px;
  height: 115px;
}

.item-promices-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 300px;
  height: 115px;
}

.promices-main-text{
  width: 300px;
  height: 40px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  /* or 200% */


  /* Primary / Dark blue */

  color: #262A3F;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.promices-desc{
  width: 300px;
  height: 60px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.button-big{
  margin-top: 50px;
  left: 0%;
  right: 3.85%;
  top: 0%;
  bottom: 16.67%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  width: 300px;
  height: 90px;
  /* identical to box height, or 100% */

  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  background: none;

  /* Secondary / Coral */

  color: #F1897B;

  border: 1px solid #E4E4E4;
}

.big-button-bg{
  position: absolute;
  left: 50.5%;
  left: 68%;
  top: 72%;
  height: 13px;
  width: 15%;
  bottom: 0%;

  /* Secondary / Coral */

  background: #F1897B;
  opacity: 0.3;
}

.reviews{
  position: absolute;
  width: 1170px;
  height: 510px;
  left: 135px;
  top: 4319px;
}

.heading{
  position: absolute;
  width: 400px;
  height: 120px;
}

.heading-main-text{
  width: 329px;
  height: 48px;
  left: 135px;
  top: 4319px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */


  /* Primary / Dark blue */

  color: #262A3F;
}

.heading-desc{
  width: 400px;
  height: 52px;
  left: 135px;
  top: 4387px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;
}

.reviews-row{
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}

.overlay-1{
  position: absolute;
  width: 370px;
  height: 340px;
  left: 0.5%;

  background: rgba(25, 28, 41, 0.6);
  z-index: 1;
}

.overlay-2{
  position: absolute;
  width: 370px;
  height: 340px;

  background: rgba(25, 28, 41, 0.6);
  z-index: 1;
}

.overlay-3{
  position: absolute;
  width: 370px;
  height: 340px;
  right: 0.8%;

  background: rgba(25, 28, 41, 0.6);
  z-index: 1;
}

.item-reviews-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 370px;
  height: 340px;
  background: url(./images/image1.svg);
}

.item-reviews-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 370px;
  height: 340px;
  background: url(./images/image2.svg);
}

.item-reviews-3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 370px;
  height: 340px;
  background: url(./images/image3.svg);
}

.reviews-main-text{
  margin: 10% 10% 0% 10%;
  width: 290px;
  height: 234px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */


  color: #FFFFFF;

  opacity: 0.8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.reviews-desc{
  margin: 0% 0% 0% 10%;
  height: 20px;

  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.08em;

  /* Primary / White */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

/* CONTACT SECTION */
.contacts{
  position: absolute;
  width: 1170px;
  height: 300px;
  left: 135px;
  top: 4929px;
}

.contacts-devider{
  width: 1170px;
  height: 0px;
  left: 135px;
  top: 4929px;

  /* Primary / Grey */

  border: 1px solid #E4E4E4;
}

.item-contact-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 300px;
}

.item-contact-2{
  margin-top: 5%;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 300px;
}

.form-devider{
  margin-bottom: 10%;
  left: 0%;
  right: 0%;
  top: 100%;
  bottom: 0%;

  opacity: 0.1;
  /* Primary / Dark blue */

  border: 1px solid #262A3F;
}

.input-contact{
  border: none;
  outline: none;
  margin-left: 5%;
}

.contact-label{
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  letter-spacing: 0.08em;

  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.5;
}

.input-button{
  left: 0%;
  right: 3.85%;
  top: 0%;
  bottom: 16.67%;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  background: none;

  /* Secondary / Coral */

  color: #F1897B;
}

.input-button-bg{
  position: absolute;
  left: 50.5%;
  left: 64%;
  top: 72%;
  height: 13px;
  width: 15%;
  bottom: 0%;

  /* Secondary / Coral */

  background: #F1897B;
  opacity: 0.3;
}

.contacts-main-text{
  width: 470px;
  height: 39px;
  left: 0px;
  top: 21px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  /* identical to box height, or 98% */
  margin: 0;

  /* Primary / Dark blue */

  color: #262A3F;
}

.contacts-desc{
  width: 470px;
  height: 52px;
  left: 0px;
  top: 89px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.8;
}

/* FOOTER */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  gap: 251px;
  isolation: isolate;

  position: absolute;
  width: 1170px;
  height: 86px;
  left: 135px;
  top: 5250px;
}

.item-footer{
  width: auto;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}
.footer-row{
  width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.footer-text{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */


  /* Primary / Dark blue */

  color: #262A3F;

  opacity: 0.6;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.footer-text-2{
  margin: 10px;
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.08em;

  /* Primary / Dark blue */

  color: #262A3F;
}