/* PROMICES */

.promicesSection{
    position: absolute;
    width: 1169px;
    height: 540px;
    left: 50%;
    transform: translate(-50%);
    top: 3659px;
}
  
.featuresBackgroundImage{
    width: 600px;
    height: 540px;
    left: 135px;
    top: 3659px;
  
    background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)), url(../images/features-background-image.svg);
}
  
  
.featuresBackground{
    position: absolute;
    width: 770px;
    height: 450px;
    left: 534px;
    top: 50%;
    margin-top: -225px;
  
    background: #FFFFFF;
    opacity: 0.9;
}
  
.promisesList{
    width: 700px;
    height: 300px;
    vertical-align: middle;
    top: 50%;
    position: absolute;
    margin-top: -150px;
}
  
.promicesRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
  
.itemPromices{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  
    width: 300px;
    height: 115px;
}
  
.promicesMainText{
    width: 300px;
    height: 10px;
  
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
  
    color: #262A3F;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
  
.promicesDesc{
    width: 300px;
    height: 60px;
  
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
  
    color: #262A3F;
  
    opacity: 0.8;
  
    flex: none;
    order: 1;
    flex-grow: 0;
}
  
.buttonBig{
    margin-top: 50px;
    left: 0%;
    right: 3.85%;
    top: 0%;
    bottom: 16.67%;
  
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 300px;
    height: 90px;
  
    letter-spacing: 0.08em;
    text-transform: uppercase;
    border: none;
    background: none;
  
    color: #F1897B;
  
    border: 1px solid #E4E4E4;
    z-index: 999;
}
  
.buttonBig:hover{
    color: #E64F3A;
    cursor: pointer;
}
  
.bigButtonBg{
    position: absolute;
    left: 50.5%;
    left: 68%;
    top: 72%;
    height: 13px;
    width: 15%;
    bottom: 0%;
  
    background: #F1897B;
    opacity: 0.3;
    z-index: -1;
}